@import "../../../assets/styles/app";

.timer {

  .timerValues {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .timerItem {

      &:not(:first-child) {
        margin-left: 12px;

        @include desktop {
          margin-left: 16px;
        }
      }

      .values {
        display: flex;

        & > div {
          @include centerRow;
          background: $color_white_3;
          border-radius: 2px;
          width: 27px;
          height: 44px;

          @include desktop {
            border-radius: 3px;
            width: 40px;
            height: 64px;
          }

          &:not(:first-child) {
            margin-left: 4px;
          }

          p {
            font-weight: 700;
            font-size: 26px;
            line-height: 140%;
            color: $color_main_100;

            @include desktop {
              font-size: 40px;
            }
          }
        }
      }

      .label {
        margin-top: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        color: $color_body_50;
      }
    }
  }

  .label {
    margin-top: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: $color_main_100;
  }

  .totalStakedValue {
    margin-top: 12px;
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    color: $color_main;
    text-align: center;

    @include desktop {
      font-size: 40px;
    }
  }

  .solValue {
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: $color_body_50;
  }

  .formLabel {
    margin-top: 24px;
    padding-left: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: $color_main_100;
  }

  .form {
    margin-top: 12px;
    display: flex;
    height: 48px;
    border: 1px solid $color_lines;

    .inputWrapper {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 0 12px;

      input {
        flex-shrink: 1;
        background: none;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_main_100;
        width: 100%;
        //min-width: 0;
        //max-width: 100%;

        &::placeholder {
          font-weight: 400;
          font-size: 12px;
          line-height: 140%;
          color: $color_body_50;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        -moz-appearance: textfield;
      }

      & > p {
        flex-grow: 1;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_main_100;
      }
    }

    .stakeBtn {
      @include centerRow;
      @include button;
      flex-shrink: 0;
      background: $color_main_10;
      width: 85px;
      height: 100%;
      border-left: 1px solid $color_lines;

      span {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        color: $color_main;
      }
    }

  }

  .haveInviteCode {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    border-top: 1px solid $color_lines;
    display: flex;

    @include desktop {
      left: 50%;
      transform: translateX(-50%);
      bottom: 24px;
      border: 1px solid $color_lines;
      width: 440px;
    }

    .left {
      padding: 10px 12px;
      display: flex;
      align-items: center;
      border-right: 1px solid $color_lines;

      svg {
        width: 16px;
        height: 16px;
      }

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: right;
        color: $color_body_50;
        margin-left: 4px;
      }

    }

    .right {
      flex-grow: 1;
      display: flex;
      align-items: center;

      span {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: right;
        color: $color_body_50;
        margin-left: 10px;
      }
    }

  }

}

