@import "../../assets/styles/app";

.test {
  //width: 100vw;
  height: 100vh;
  background-color: green;

  .mask {
    width: 500px;
    height: 500px;
    border: 1px solid #FFF;
    margin-top: 100px;
    margin-left: 100px;
    background: radial-gradient(transparent 0%,  rgba(0, 0, 255, 0) 25%, rgba(0, 0, 255, 1) 75%);
  }
}