@import "../../assets/styles/app";

.app {
  background-color: $color_bg_and_text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include desktop2 {
    height: 100vh;
  }

  .main {
    flex-grow: 1;
    display: flex;

    @include desktop2 {
      height: calc(100vh - $k * 48px);

    }


    .content {
      position: relative;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: auto;

      .linesMobile {
        @include onlyMobile2();
      }

      .linesDesktop {
        @include onlyDesktop2();
      }

      .contentInner {
        position: relative;
        z-index: 10;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
      }

    }

  }
}