@import "../../../../assets/styles/app";

.copyButton {
  @include button;
  @include centerRow;
  width: 48px;
  background-color: transparent;
  transition: 0.3s;

  @include desktop2 {
    width: $k * 36px;
  }

  &:hover {
    @include desktop2 {
      background: #222;
    }
  }
}