@import "../../../assets/styles/app";

.tabs {
  position: relative;
  background-color: $color_bg_and_text;
  width: 100%;
  display: grid;
  //grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid $color_lines;

  @include desktop2 {
    width: $k * 440px;
  }

  .btn {
    @include button;
    @include centerRow;
    height: 36px;
    background-color: transparent;

    @include desktop2 {
      height: $k * 36px;
    }

    span {
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      text-align: center;
      color: $color_body_50;

      @include desktop2 {
        font-size: $k * 12px;
      }
    }

    &_selected {
      span {
        color: $color_main;
      }

    }
  }

  .line {
    position: absolute;
    bottom: 0;
    background-color: $color_main;
    height: 1px;
    transition: 0.2s;
  }
}