@import "../../../assets/styles/app";

.inviteCodeForm {
  display: flex;
  flex-direction: column;
  background-color: $color_bg_and_text;
  border-top: 1px solid $color_lines;
  border-bottom: 1px solid $color_lines;
  margin-top: 24px;

  @include desktop2 {
    width: $k * 440px;
    border: 1px solid $color_lines;
    margin-top: $k * 24px;
  }

  .title {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 12px;

    @include desktop2 {
      height: $k * 40px;
      padding-left: $k * 12px;
    }

    svg {
      width: 16px;
      height: 16px;

      @include desktop2 {
        width: $k * 16px;
        height: $k * 16px;
      }
    }

    p {
      margin-left: 8px;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_main_100;

      @include desktop2 {
        margin-left: $k * 8px;
        font-size: $k * 12px;
      }
    }
  }


  .inputWrapper {
    display: flex;
    align-items: center;
    border-top: 1px solid $color_lines;
    border-bottom: 1px solid $color_lines;
    padding-left: 8px;
    transition: 0.3s border;

    @include desktop2 {
      border: 1px solid $color_lines;
      border-left-color: transparent;
      border-right-color: transparent;
    }

    @include desktop2 {
      padding-left: $k * 8px;
    }

    .iconWrapper {
      @include centerRow;
      border: 1px solid $color_lines;
      width: 32px;
      height: 32px;
      transition: 0.3s border;

      @include desktop2 {
        width: $k * 32px;
        height: $k * 32px;
      }

      svg {
        width: 16px;
        height: 16px;

        path {
          transition: 0.3s;
        }

        @include desktop2 {
          width: $k * 16px;
          height: $k * 16px;
        }
      }
    }

    input {
      padding: 16px 12px;
      width: 100%;
      background: none;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: $color_main_100;

      @include desktop2 {
        padding: $k * 16px $k * 12px;
        font-size: $k * 12px;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: $color_body_50;

        @include desktop2 {
          font-size: $k * 12px;
        }
      }
    }

    &_focus {
      border-color: rgba(211, 249, 50, 0.5);

      .iconWrapper {
        border-color: rgba(211, 249, 50, 0.5);

        svg {
          path {
            fill: $color_main;
          }
        }
      }
    }

  }

  .continueBtn {
    margin-top: 24px;
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid $color_lines;

    @include desktop2 {
      margin-top: $k * 12px;
    }
  }


}
