@import "../../../assets/styles/app";

.inviteCodeForm {
  display: flex;
  flex-direction: column;

  @include desktop2 {
    width: $k * 440px;
  }

  .inputWrapper {
    margin-top: 24px;
    border: 1px solid $color_lines;
    background-color: $color_bg_and_text;

    @include desktop2 {
      margin-top: $k * 24px;
    }

    input {
      padding: 16px 12px;
      width: 100%;
      background: none;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: $color_main_100;

      @include desktop2 {
        padding: $k * 16px $k * 12px;
        font-size: $k * 12px;
      }

      &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        color: $color_body_50;

        @include desktop2 {
          font-size: $k * 12px;
        }
      }
    }

  }

  .continueBtnWrapper {
    background-color: $color_bg_and_text;
    margin-top: 24px;

    @include desktop2 {
      margin-top: $k * 12px;
    }

    .continueBtn {
      width: 100%;
      padding: 16px 0;
      border: 1px solid $color_lines;
    }
  }


}
