@import "../../assets/styles/app";

.leader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include desktop2 {
    align-items: center;
  }

  .tabsWrapper {
    width: 336px;
    margin: 0 auto;

    @include desktop2 {
      width: $k * 336px;
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_paddingVertical {
      padding: 24px 0;

      @include desktop2 {
        padding: $k * 24px 0;
      }
    }

    &_paddingTop {
      padding-top: 24px;

      @include desktop2 {
        padding-top: $k * 24px;
      }
    }

    .title {
      align-self: center;
      width: 113px;
      height: 18px;

      @include desktop2 {
        width: $k * 145px;
        height: $k * 24px;
      }

      svg {
        width: 100%;
      }
    }

    .preTopUsers {
      background-color: $color_bg_and_text;
      margin-top: 24px;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 12px;
      border: 1px solid $color_lines;
      border-bottom: none;
      width: 100%;

      @include desktop2 {
        margin-top: $k * 24px;
        height: $k * 40px;
        padding-left: $k * 12px;
        width: $k * 440px;
        justify-content: center;
      }

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: $color_main_100;

        @include desktop2 {
          font-size: $k * 12px;
        }
      }
    }

    .topUsers {
      & > div:nth-child(2) {
        height: calc(100vh - 48px - 36px - 24px - 18px - 24px - 40px - 36px - 4px);
        overflow-y: auto;

        @include desktop2 {
          height: calc(100vh - $k * (48px + 36px + 24px + 18px + 24px + 40px + 36px + 24px));
        }
      }
    }

  }
}