@import "../../assets/styles/app";

.phase3Leader {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include desktop2 {
    align-items: center;
  }

  .tabsWrapper {
    width: 336px;
    margin: 0 auto;

    @include desktop2 {
      width: $k * 336px;
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_verticalPadding {
      padding: 24px 0;

      @include desktop2 {
        padding: $k * 24px 0;
      }
    }

    &_topPadding {
      padding-top: 24px;

      @include desktop2 {
        padding-top: $k * 24px;
      }
    }



    .title {
      align-self: center;
      width: 113px;
      height: 18px;
      margin-top: 16px;

      @include desktop2 {
        width: 145px;
        height: 24px;
        margin-top: 0;

        @include desktop2 {
          width: $k * 145px;
          height: $k * 24px;
        }
      }

      svg {
        width: 100%;
      }
    }

    .label {
      align-self: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_main_100;
      margin-top: 12px;
      padding-left: 12px;

      @include desktop2 {
        font-size: $k * 12px;
        margin-top: $k * 12px;
        padding-left: $k * 12px;
      }
    }

    .count {
      display: flex;
      align-items: center;
      background-color: $color_bg_and_text;
      align-self: normal;
      margin-top: 12px;
      padding: 16px 12px;
      border-top: 1px solid $color_lines;
      border-bottom: 1px solid $color_lines;

      @include desktop2 {
        margin-top: $k * 12px;
        padding: $k * 16px $k * 12px;
        border: 1px solid $color_lines;
      }

      svg {
        width: 16px;
        height: 16px;

        @include desktop2 {
          width: $k * 16px;
          height: $k * 16px;
        }

        path {
          fill-opacity: 0.5;
          fill: #FFF;
        }
      }

      p {
        margin-left: 4px;
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        color: $color_main_100;

        @include desktop2 {
          margin-left: $k * 4px;
          font-size: $k * 12px;
        }

        span {
          color: $color_body_50;
        }
      }

    }

    .preTopUsers {
      background-color: $color_bg_and_text;
      margin-top: 24px;
      display: flex;
      align-items: center;
      height: 40px;
      padding-left: 12px;
      border: 1px solid $color_lines;
      border-bottom: none;
      width: 100%;

      @include desktop2 {
        margin-top: $k * 24px;
        height: $k * 40px;
        padding-left: $k * 12px;
        width: $k * 440px;
      }

      p {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        color: $color_main_100;

        @include desktop2 {
          font-size: $k * 12px;
        }
      }
    }

    .topUsers {
      & > div:nth-child(2) {
        height: calc(100vh - 48px - 36px - 24px - 18px - 24px - 40px - 36px - 4px);
        overflow-y: auto;

        @include desktop2 {
          height: calc(100vh - $k * (48px + 36px + 24px + 18px + 24px + 40px + 36px + 24px));
        }
      }
    }

  }
}