@import "../../assets/styles/app";

.users {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include desktop2 {
    align-items: center;
  }

  .tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid $color_lines;
    border-top: none;

    &_3 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop2 {
      width: $k * 440px;
    }

    .btn {
      @include button;
      @include centerRow;
      height: 36px;
      background-color: transparent;

      &:hover {
        background-color: #222;
      }

      @include desktop2 {
        height: $k * 36px;
      }

      &:not(:first-child) {
        border-left: 1px solid $color_lines;
      }

      span {
        font-weight: 700;
        font-size: 12px;
        line-height: 140%;
        text-transform: uppercase;
        text-align: center;
        color: $color_body_50;

        @include desktop2 {
          font-size: $k * 12px;
        }
      }

      &_selected {
        span {
          color: $color_main;
        }

      }
    }
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_padding {
      padding: 24px 0;

      @include desktop2 {
        padding: $k * 24px 0;
      }
    }

    .title {
      align-self: center;
      width: 113px;
      height: 18px;
      margin-top: 16px;

      @include desktop2 {
        width: 145px;
        height: 24px;
        margin-top: 0;

        @include desktop2 {
          width: $k * 145px;
          height: $k * 24px;
        }
      }

      svg {
        width: 100%;
      }
    }

    .label {
      align-self: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_main_100;
      margin-top: 12px;
      padding-left: 12px;

      @include desktop2 {
        font-size: $k * 12px;
        margin-top: $k * 12px;
        padding-left: $k * 12px;
      }
    }

    .count {
      align-self: normal;
      margin-top: 12px;
      padding: 16px 12px;
      border-top: 1px solid $color_lines;
      border-bottom: 1px solid $color_lines;

      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      text-transform: uppercase;
      color: $color_main_100;

      @include desktop2 {
        margin-top: $k * 12px;
        padding: $k * 16px $k * 12px;
        border: 1px solid $color_lines;
        font-size: $k * 12px;
      }

    }

  }
}