@import "../../../assets/styles/app";

.socialLinks {
  margin-top: 24px;
  display: flex;
  justify-content: center;

  .link {
    @include centerRow;
    width: 48px;
    height: 48px;
    border: 1px solid $color_lines;

    &:not(:first-child) {
      margin-left: 12px;
    }
  }
}