@import "../../../assets/styles/app";

.buttonCustom {
  @include button;
  @include centerRow;
  background-color: transparent;
  transition: 0.3s;

  &:hover {
    @include desktop2 {
      background-color: #222;
    }

  }

  span {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: $color_main;
    transition: 0.3s;

    @include desktop2 {
      font-size: $k * 12px;
    }
  }

  &_contained {
    background-color: #242714;

    &:hover {
      background: rgba(211, 249, 50, 0.2);
    }
  }

  &_mouseDown {
    span {
      color: rgba(211, 249, 50, 0.6);
    }
  }


}